.footer-comp {
  background-color: $pale-pink;
  color: black;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
  }

  .nav-social {
    .btn {
      font-size: 1.2em;
      padding: 0 .5em;
      color: black;
      transition: color .15s;
      will-change: color;

      &:hover {
        color: lighten(black, 25%);
      }
    }
  }
}