
/**
* Watch _variables.scss for any tweaks to header's dimension
*/
.header-comp {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -.5em 1em 0px rgba(0, 0, 0, 0.75);

  ~ main {
    margin-top: $header-height-sm; // Header height

    @include media-breakpoint-up(md) {
      margin-top: $header-height-md; // Header height
    }
  }

  .main-navbar {
    height: $header-height-sm;
    transition: height .3s;
    will-change: height;

    @include media-breakpoint-up(md) {
      height: $header-height-md; // Header height
    }

    .navbar-brand {
      display: inline-block;

      .logo-container  {
        display: block;
        height: 100%;
        padding: 0;
    
        .logo {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .nav-link {
    color: black;

    &:hover {
      color: lighten(black, 25%);
    }
  }

  .nav-item.active {
    a.nav-link {
      color: darken($melon, 90%);
    }
  }

  ul.navbar-nav {
    > .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}