$melon                : #fec5bbff;
$pale-pink            : #fcd5ceff;
$misty-rose           : #fae1ddff;
$isabelline           : #f8edebff;
$platinum             : #e8e8e4ff;
$alabaster            : #d8e2dcff;
$linen                : #ece4dbff;
$champagne-pink       : #ffe5d9ff;
$peach-puff           : #ffd7baff;
$peach-crayola        : #fec89aff;